Package: L001-503
Version: 1.1.8
Description: L001-503 Rinstrum Lua Libraries for R400 Communications Protocol
Section: rinstrum/libraries
Priority: optional
Maintainer: Merrick Heley
Architecture: all
Homepage: http://www.rinstrum.com
Depends: 
Source: ${SRC}
