# Scratchpad
myproject/

# Ignore build folder
M01/
M03/

# Ignore gedit backup files
*~

# Project files
autostart/
backup/
myproject/
misc/

#Ignore everything in the opkg directory
opkg/*
#Except the CONTROL directory.
#BEWARE - This ignore cannot appear in the opkg dir
#otherwise it is packaged with the app, not good!
!*/CONTROL*

/examples/rinApp.ini
rinApp.ini

src/rinLibrary/checksum-file-list.lua
src/config.ld
